#header {
    background-color:red;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding-top: 20px;
}
#EmployeeForm{
    font-size: x-large;
}
#submit_button{
    background-color: green;
    color: white;
    font-size: x-large;
}
.input{
    display: block;
    margin-bottom: 1px;
}
#footer{
    background-color: red;
    color: white;
    text-align: center;
}